**/*.pyc
**/compile_commands.json
**/*.o
**/*.so
**/*.a

tdebug-llvm/build
tbb-lib/build/linux_*

tbb-lib/obj
tdebug-lib/obj
spd3-lib/obj
fasttrack/obj
fasttrack-opt/obj
fastracer/obj

**/.clangd
**/.cache

.vscode
GTAGS
GPATH
GRTAGS
TAGS

test_suite/prospar-microbenchmark.bc
test_suite/prospar-microbenchmark
test_suite/dr_serial_12_Yes_fixed
test_suite/dr_serial_13_Yes_fixed
test_suite/dr_serial_14_Yes_fixed
test_suite/dr_serial_15_Yes_fixed
test_suite/dr_serial_16_Yes_fixed
test_suite/dr_serial_17_Yes_fixed
test_suite/dr_serial_18_Yes_fixed
test_suite/dr_serial_19_Yes_fixed
test_suite/dr_lock_16_Yes
test_suite/dr_lock_17_Yes
test_suite/dr_lock_18_Yes
test_suite/dr_lock_19_Yes
test_suite/dr_serial_110_Yes_fixed
test_suite/dr_serial_111_Yes_fixed
test_suite/dr_serial_112_Yes_fixed
test_suite/dr_serial_113_Yes_fixed
test_suite/dr_serial_114_Yes_fixed
test_suite/dr_serial_115_Yes_fixed
test_suite/dr_serial_116_Yes_fixed
test_suite/dr_serial_117_Yes_fixed
test_suite/dr_serial_118_Yes_fixed
test_suite/dr_serial_119_Yes_fixed
test_suite/dr_serial_120_Yes_fixed
test_suite/dr_serial_121_Yes_fixed
test_suite/dr_branch_19_Yes_unsat
test_suite/dr_branch_14_Yes
test_suite/dr_branch_14_Yes_unsat
test_suite/dr_branch_15_Yes
test_suite/dr_branch_15_Yes_unsat
test_suite/dr_branch_16_Yes
test_suite/dr_branch_16_Yes_unsat
test_suite/dr_branch_17_Yes
test_suite/dr_branch_17_Yes_unsat
test_suite/dr_branch_18_Yes
test_suite/dr_branch_18_Yes_unsat
test_suite/dr_branch_19_Yes
test_suite/dr_lock_110_Yes
test_suite/dr_lock_111_Yes
test_suite/dr_lock_112_Yes
test_suite/dr_lock_113_Yes
test_suite/dr_lock_114_Yes
test_suite/dr_lock_115_Yes
test_suite/dr_lock_116_Yes
test_suite/dr_lock_117_Yes
test_suite/dr_lock_118_Yes
test_suite/dr_lock_119_Yes
test_suite/dr_lock_120_Yes
test_suite/dr_lock_121_Yes
test_suite/dr_lock_12_Yes
test_suite/dr_branch_112_Yes
test_suite/dr_13_Yes
test_suite/dr_13_Yes_fixed
test_suite/dr_14_Yes
test_suite/dr_14_Yes_fixed
test_suite/dr_15_Yes
test_suite/dr_15_Yes_fixed
test_suite/dr_16_Yes
test_suite/dr_16_Yes_fixed
test_suite/dr_17_Yes
test_suite/dr_17_Yes_fixed
test_suite/dr_18_Yes
test_suite/dr_18_Yes_fixed
test_suite/dr_19_Yes
test_suite/dr_19_Yes_fixed
test_suite/dr_branch_110_Yes
test_suite/dr_branch_110_Yes_unsat
test_suite/dr_branch_111_Yes
test_suite/dr_branch_111_Yes_unsat
test_suite/dr_branch_112_Yes_unsat
test_suite/dr_branch_113_Yes
test_suite/dr_branch_113_Yes_unsat
test_suite/dr_branch_114_Yes
test_suite/dr_branch_114_Yes_unsat
test_suite/dr_branch_115_Yes
test_suite/dr_branch_115_Yes_unsat
test_suite/dr_branch_116_Yes
test_suite/dr_branch_116_Yes_unsat
test_suite/dr_branch_117_Yes
test_suite/dr_branch_117_Yes_unsat
test_suite/dr_branch_118_Yes
test_suite/dr_branch_118_Yes_unsat
test_suite/dr_branch_119_Yes
test_suite/dr_branch_119_Yes_unsat
test_suite/dr_branch_120_Yes
test_suite/dr_branch_120_Yes_unsat
test_suite/dr_branch_121_Yes
test_suite/dr_branch_121_Yes_unsat
test_suite/dr_branch_12_Yes
test_suite/dr_branch_12_Yes_unsat
test_suite/dr_branch_12_locks_Yes
test_suite/dr_branch_13_Yes
test_suite/dr_branch_13_Yes_unsat
test_suite/dr_lock_13_Yes
test_suite/dr_lock_14_Yes
test_suite/dr_lock_15_Yes
test_suite/dr_116_Yes
test_suite/dr_110_Yes
test_suite/dr_110_Yes_fixed
test_suite/dr_111_Yes
test_suite/dr_111_Yes_fixed
test_suite/dr_112_Yes
test_suite/dr_112_Yes_fixed
test_suite/dr_113_Yes
test_suite/dr_113_Yes_fixed
test_suite/dr_114_Yes
test_suite/dr_114_Yes_fixed
test_suite/dr_115_Yes
test_suite/dr_115_Yes_fixed
test_suite/dr_116_Yes_fixed
test_suite/dr_117_Yes
test_suite/dr_117_Yes_fixed
test_suite/dr_118_Yes
test_suite/dr_118_Yes_fixed
test_suite/dr_119_Yes
test_suite/dr_119_Yes_fixed
test_suite/dr_120_Yes
test_suite/dr_120_Yes_fixed
test_suite/dr_121_Yes
test_suite/dr_12_Yes_fixed
test_suite/dr_12_Yes
test_suite/dr_121_Yes_fixed
test_suite/output.log
test_suite/violations.out
test_suite/mem-accesses

*taskgraph.dot
*nohup.out
test_suite/parallel_for
stats_dump.csv
